<h1>kakao info</h1>
<ul>
    <li>
        auth code: <%= @auth_code %>
    </li>
    <li>
        data: <%= @data %>
    </li>
    <li>
        access_token: <%= @data[:access_token] %>
    </li>
    <li>
        refresh_token: <%= @data[:refresh_token] %>
    </li>
    <li>
        user: <%= @user_info %>
    </li>
    <li>
        controller: <%= controller_name %>
    </li>
    <li>
        action: <%= action_name %>
    </li>
</ul>