<div class="container p-8">
  <ul class="mt-6 flex flex-col space-y-4">
    <% @my_appointments.each do | appointment | %>
      <li class="border flex flex-col align-start justify-stretch p-4 rounded-md">
        <% participants = appointment.get_participants %>
        <% participant_names = participants.map { |participant| participant.nickname }.join(", ") %>
        <div class="mb-2 text-xl font-semibold"><%= appointment.name %></div>
        <div class="flex flex-row participants-wrapper items-center">
          <div class="avatar-collection mr-2">
            <% participants.take(3).each do | participant | %>
              <span class="avatar">
                <img src="<%= participant.profile_image_url %>" alt="">
              </span>
            <% end %>
          </div>
          <div class="text-gray-400">
            <%= participant_names %>
            님 포함
            <%= participants.length %>명 참여중
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <section>
    <ul class="flex flex-col space-y-4">
      <% @participating_appointments.each do | appointment | %>
        <li class="border flex flex-col align-start justify-stretch p-4 rounded-md">
          <% participants = appointment.get_participants %>
          <% participant_names = participants.map { |participant| participant.nickname }.join(", ") %>
          <div class="mb-2 text-xl font-semibold"><%= appointment.name %></div>
          <div class="flex flex-row participants-wrapper items-center">
            <div class="avatar-collection mr-2">
              <% participants.take(3).each do | participant | %>
                <span class="avatar">
                  <img src="<%= participant.profile_image_url %>" alt="">
                </span>
              <% end %>
            </div>
            <div class="text-gray-400">
              <%= participant_names %>
              님 포함
              <%= participants.length %>명 참여중
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </section>
</div>
<style>
  .avatar-collection {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
  }

  .avatar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    width: 24px;
    height: 24px;
    object-fit: cover;
  }

  .avatar:not(:first-child) {
    margin-left: -5px;
  }

  .avatar img {
    width: 100%;
    display: block;
  }
</style>
