<!DOCTYPE html>
<html>
  <head>
    <title>Meetmate</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head_scripts %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <div class="p-4">

      <%= yield %>
    </div>
    <%= yield :body_scripts %>
  </body>
</html>
